<nav
      class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">System in EJS</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <!-- 如果這個不登入 user 不存在 要顯示 下面網址部分 -->
            <% if (!user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <% } %>
            <!-- 如果不等於 user 就要再用一個新的 route 出來 做註冊 -->
            <% if (!user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/signup">Sign Up</a>
            </li>
            <% } %>
            
            <!-- 如果這個登入 user 存在 要顯示 下面網址部分 -->
            <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/post">New Post</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>